
.PlayArea {
    width: 600px;
    min-height: 600px;
    display: grid;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    position: relative;
}
.Totalarea{
  margin-top: 50px;
}
.Game{
  margin: 10px;
}
.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}
.players{
    text-align: center;
    font-size: 80px;
}

.Reset{
    margin-top: 30px;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
}
.Reset:hover{
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
.Reset {
    margin: 30px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
  .Reset::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .Reset::before {
    content: "";
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .Reset:hover::before {
    opacity: 1;
  }
  
  .Reset:active:after {
    background: transparent;
  }
  
  .Reset:active {
    color: #000;
    font-weight: bold;
  }

.Reset_text{
  margin: 10px;
}
.Title{
  display: block;
}
@media (max-width:600) {
  .PlayArea{
    width: 100%;
    min-height: calc(width);
    position: absolute;
  }
  .Title{
    display: none;
  }
}